*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #807f7f3a;
}
.container{
  width: 80%;
  height: 80vh;
  margin: 90px;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,73,121,0.7903536414565826) 27%, rgba(0,212,255,1) 100%);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container h1{
  padding: 32px;
}

.container h1{
  color: white;
  text-align: center;
  animation: flip 2s;
}

.card input{
  padding: 8px;
  border-radius: 8px;
  font-size: 1.2em;
  margin-bottom: 1.5em;
  
}

.searchIcon{
  cursor: pointer;
  margin-left: 1.5em;
  transition: all 2s;
  
}

.searchIcon:hover{
  transform: scale(1.2);
}

.container section{
  font-weight: 800;
  background-color: white;
  width: 400px;
  height: auto;
  padding: 8px;
  border-radius: 8px;
  margin: 2em;
}
@keyframes flip {
  from{
      transform: rotateX(180deg);
  }
  to{
      transform: rotateX(0deg);
  }
}



